# Lab 1 Assignment: Basics of Python

Solve the questions in this jupyter notebook. You must:
- make your code tidy with appropriate comments.
- Use the code segment below the questions.
- Submit the code by 11:59 PM, Saturday

# 1. Read two inputs from the user. Write a Python program to print their product. If the product is greater than 1000, then print their sum as well.

In [11]:
#Take inputs
inpA = int(input("Enter First Number: "))
inpB = int(input("Enter Second Number: "))

#Print their product
product = inpA * inpB
print(f"{inpA} x {inpB} = {product}")

#If product > 1000, print their sum as well
if product > 1000:
  print(f"{inpA} + {inpB} = {inpA + inpB}")

Enter First Number: 2
Enter Second Number: 35
2 x 35 = 70

# 2. Write a Python program to find the area and perimeter of a circle. Read inputs from the user.

In [7]:
import math #import for access to the math.pi constant

r = float(input("Enter Radius of the Circle: "))
print("Area: %0.2f cm^2" % (math.pi * r * r))
print("Perimeter: %0.2f cm" % (2 * math.pi * r))

Enter Radius of the Circle: 100.0
Area: 31415.93 cm^2
Perimeter: 628.32 cm

# 3. Given a positive integer N (read from the user), write a Python program to calculate the value of the following series.
`1^2 + 2^2 + 3^2 + 4^2 + … + N^2`

In [10]:
N = int(input("N: "))

result = 0
for i in range(1, N  + 1):
  result += int(math.pow(i, 2))   #pow(x, y) is x raised to the power of y

print(result)

N: 3
14

# 4. Given a positive integer N (read from the user), write a Python program to check if the number is prime or not.

In [55]:
def isPrime(N):
  for i in range(2, int(((N / 2) + 1))): #check divisibility from 2 to N / 2
    if N % i == 0:
      return False
  return True

N = int(input("Enter N: "))
print(isPrime(N))

Enter N: 53
True

# 5. Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of the list. Do not use any built-in function.

In [18]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = 0
for x in arr:
  result += x

print(result)

55

# 6. Given a list of numbers (hardcoded in the program), write a Python program to calculate the sum of the even-indexed elements in the list.

In [22]:
arr = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

result = 0
for i in range(1, len(arr), 2):
  result += arr[i]

print(result)

30

# 7. Given a list of numbers (hardcoded in the program), write a Python program to find the second largest element of the list.

In [30]:
arr = [56, 23, 46, 45, 90]

#sort the list, in ascending order(lowest to highest)
arr.sort()

#second largest element will be the second element going left from the end index
print(arr[-2])

56

# 8. Given a string, display only those characters which are present at an even index number. Read inputs from the user.

In [118]:
name = "Matthews Ankon Baroi"

for i in range(1, len(name), 2):
  print(name[i], end='')

atesAknBri

# 9. Given a string and an integer number N, remove characters from a string starting from zero up to N and print the new string. N must be less than the length of the string. Read inputs from the user. Do not use any built-in function.

In [38]:
N = int(input("N: "))
string = str(input("Enter String: "))

if N > len(string):
  print("N must be less than the length of the string!")
else:
  print(string[N + 1:]) #0 to N chars removed, so new string to be printed should be from N+1 until the end

N: 2
Enter String: ankon
on

# 10. Given a string, find the count of the substring “CSE303” appeared in the given string. Do not use any built-in function.

The string is: "This is CSE303 course. The name of CSE303 is: Statistics for Data Science. It's a fundamental CSE course for future data scientists."

In [58]:
string = "This is CSE303 course. The name of CSE303 is: Statistics for Data Science. It's a fundamental CSE course for future data scientists."

#words = string.split() #split the string into wors


#manual splitting without builtin functions
temp = ""
words = [""]
for i in range(0, len(string)):
  if string[i] != " ":
    temp = temp + string[i]
  else:
    words.append(temp)
    temp = ""


count = 0
for i in words:
  if i == "CSE303":
    count = count + 1

print(count)

2

# 11. Given a two list of numbers (hardcoded in the program), create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list. You can assume that the length of both list are the same.

In [61]:
a = [1, 2, 3, 4]
b = [5, 6, 7, 8]

c = []
for i in range(0, len(a)):
  if a[i] % 2 != 0:       #all odd numbers from the first list
    c.append(a[i])
  if b[i] % 2 == 0:       #all even numbers from the second list
    c.append(b[i])

print(c)

[1, 6, 3, 8]



# 12. Given a string, write a python function that will check if it is palindrome or not. Define a function named palindrome_checker_(your-student-id) in your program.

In [64]:
def palindrome_checker(studentID):
  if studentID == studentID[::-1]:    #check if original string == reversed string
    return True
  else:
    return False

print(palindrome_checker("2222-22-22-2222"))

True

# BONUS !

### Go to Kaggle.com
### Download Titanic Dataset
### Load the Titanic Dataset in Python Using Pandas Library

In [117]:
import pandas as pd
import matplotlib.pyplot as plt

titanic = pd.read_csv("tested.csv")
titanic

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C